---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../../layouts/Page.astro';
import HeroSection from '../../../components/sections/heros/HeroSection.astro';
import ProductHeroSection from '../../../components/sections/heros/ProductHeroSection.astro';
import SideNavBar from '../../../components/sections/heros/SideNavBar.astro';

const seo = {
	title: 'Helical-Bevel Gearmotors | X&J Products',
	description: 'Helical-Bevel Gearmotors',
};

---

<Layout {seo}>
	<div class="hero-container">
		<SideNavBar>
	
		</SideNavBar>
	
		<ProductHeroSection class="grids">  
	
		<picture slot="image-container">
		  <img
			  src="/assets/images/products/helical-bevel/tr.jpg"
			  alt="X&J Products"
			  id="tr"
			/>
		  <figcaption>TR Series</figcaption>
		</picture>

		<picture slot="image-container">
		  <img
			  src="/assets/images/products/helical-bevel/tk.jpg"
			  alt="X&J Products"
			  id="tk"
			/>
			<figcaption>TK Series</figcaption>
		
		</picture>

		<picture slot="image-container">
			<img
				src="/assets/images/products/helical-bevel/ts.jpg"
				alt="X&J Products"
				id="ts"
			  />
			  <figcaption>TS Series</figcaption>
		  
		  </picture>
		

		</ProductHeroSection>
	</div>



</Layout>

<style>
	.hero-container{
	  display: flex;
	  background-color: aliceblue;
	}

	.grids{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap:2rem;
	}

	picture{
		width: 80%;

	}

	figcaption{
		color:black;
		text-align: center;
	}

	.hero-section__image {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap:2rem;
	}
  </style>