---
import { Container } from '@littlesticks/odyssey-theme-components';
---


<!-- Side navigation -->
<div class="sidenav">

	<div class="sidenav-items"><a href="worm-gear-reducers">Worm Gear Reducers</a></div>
    <div class="sidenav-items"><a href="helical-bevel-gearmotors">Helical-Bevel Gearmotors</a></div>
    <div class="sidenav-items"><a href="induction-motors">Induction Motors</a></div>
    <div class="sidenav-items"><a href="brake-motors">Brake Motors</a></div>
    <div class="sidenav-items"><a href="speed-reducers">Speed Reducers</a></div>
    <div class="sidenav-items"><a href="precision-reducers/">Precision Reducers </a></div>

</div>



<style>
	
/* .sidenav {
  height: 100%;    
  width: 180px;   
  position: absolute;    
  z-index: 1;         
  top: 170px;           
  left: 0;
  background-color:hsl(0, 0%, 2%);     
  overflow-x: hidden;       
  padding-top: 60px;
} */


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}


.sidenav a:hover {
  color: #f1f1f1;
} 

</style>
