---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/TextOnly.astro';

const seo = {
	title: 'Warranties | X&J Products',
	description: 'Warranties',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h3>Sales Terms and Conditions</h3>
      <p><em>1. General.</em></p>
			<p>
				The following conditions, in conjunction with any distinct elements
         found in a proposal, quotation, or invoice by X&J PRODUCTS, INC. (X&J)
         , outline the complete agreement ("Agreement") between the parties 
         concerning the purchase order. This Agreement replaces all prior 
         discussions and arrangements related to the purchase order. 
         The acceptance of the purchase order by X&J, or the buyer's acceptance 
         of X&J's Proposal, is explicitly based on the buyer's acceptance of 
         these terms and conditions. Acceptance is determined by payment or 
         approval of any performance by X&J. Any amendments to this Agreement 
         require written consent from both the buyer and authorized representatives 
         of X&J. For the purposes of this Agreement, "Equipment" refers to all 
         equipment, parts, accessories, and software, including software documentation
         , sold or licensed to the buyer by X&J. under the purchase order. 
         "Services" refers to all labor and services, including supervision, 
         technical and engineering services, installation, repair, consultation, 
         or other services provided by X&J under the purchase order.
      <p/>
      <p><em>2. Payment.</em></p>
      <p>Unless stated otherwise in writing by X&J, payment terms require full 
        payment in advance, without offset, in United States Dollars, by wire 
        transfer to the account designated by X&J. in the Proposal. X&J isn't 
        obligated to initiate or maintain its performance unless and until the 
        advance payment has been received. If a due date falls on a non-Business 
        Day, payments will be due on the preceding Business Day. X&J may, at its 
        discretion, send digital invoices to the buyer via email, which will be 
        considered as originals. The buyer must provide X&J with up-to-date 
        contact details, including a valid email address.
      </p>
      <p><em>3. Title & Delivery.</em></p>
      <p>
        (a) Title to Equipment and the risk of loss or damage related to the sale 
        of Equipment will transfer from X&J to the buyer upon delivery in accordance 
        with the applicable freight term. <br>
        (b) Delivery dates provided by X&J are estimates only and are not guaranteed. 
        X&J will not be held responsible for any loss or damage incurred by the buyer 
        due to delayed delivery or loss or damage of any Equipment in transport. 
        Shipping and delivery dates depend on the buyer's timely delivery of any 
        instructions, approvals, licenses, authorizations, or any other documentation 
        required for X&J's performance. <br>
        (c) Claims for shortages or other errors in delivery must be made in writing 
        to X&J within five (5) days of delivery. Equipment may not be returned without 
        the prior written consent of X&J and must adhere to the terms specified by X&J. 
        Any post-delivery damage claims should be filed directly by the buyer with the 
        common carrier. <br>
        (d) In the event the buyer refuses to accept delivery of the Equipment delivered 
        as per the Agreement, the buyer will be liable for any and all costs, fees, and 
        expenses incurred by X&J, including, but not limited to, demurrage or storage charges.
      </p>
      <p><em>4. Warranties</em></p>
      <p>
        (a) X&J assures the original buyer that its equipment is free from material and 
        manufacturing defects. This warranty is valid for twelve (12) months from the 
        date of delivery. <br>
        (b) This warranty is restricted to the repair or replacement, at our factory, 
        of defective components resulting from validated defects in material or manufacture. 
        The replaced parts remain our property. All other forms of compensation are excluded, 
        and no claims for direct and/or indirect damages of any nature, including the temporary 
        unavailability of the purchased goods, can be made. This warranty does not cover 
        materials and parts subject to normal wear and tear (for example, oil seals or 
        lubricant leakages caused by normal wear). The warranty is void for Equipment not used 
        in compliance with our instructions or that are modified, repaired, partially dismantled
        , or stored, installed, maintained, or lubricated improperly. The warranty also does 
        not cover damages, defects, or malfunctions caused by external components (such as, 
        for example, couplings, sprockets, pulleys, motors not produced by X&J, etc..) or by 
        incorrect installation of them. The compatibility of applications and proper mechanical 
        couplings and electrical connections with the specifications of X&J's products, as 
        indicated in the manufacturer’s catalogs, is solely the buyer's responsibility. <br>
        (c) X&J guarantees that the Equipment, when shipped, will be free from defects in the 
        materials used and in workmanship. If any such defects exist or later appear, X&J shall 
        undertake prompt remedial action to correct them at its sole expense; however, X&J will 
        have no obligation or liability under this Warranty unless it receives written notice 
        specifying such defect within twelve (12) months from the date of delivery. Remedial 
        action under this Warranty only requires X&J, at its discretion, to repair, modify, or 
        replace the Equipment or Parts thereof, or accept the return of the Equipment or Parts 
        and refund the purchase price. The buyer must notify X&J of any defect within thirty (30) 
        days after first becoming aware of it and must return the Equipment and/or Parts freight 
        prepaid to X&J following the company's RMA process. <br>
        (d) The foregoing warranty replaces all other warranties, expressed or implied, including, 
        without limitation, warranties of merchantability and fitness for a particular purpose. 
        X&J's liability for damages arising out of its manufacture or sale of its products or parts 
        thereof, or use thereof, whether such liability is based on warranty, contract, negligence, 
        strict liability in tort, or otherwise, shall not exceed the full purchase price of the 
        Equipment and Parts thereof. Under no circumstances shall X&J, its suppliers, or 
        subcontractors be held accountable for special, indirect, incidental, or consequential 
        damages. This includes but is not limited to, loss of profits or revenue, data loss, 
        loss of use of any Equipment or any associated equipment, cost of capital, replacement 
        equipment, facilities or services cost, downtime costs, delays, and claims made by the 
        Purchaser's clients or any other third parties for damages. The buyer must commence any 
        action against X&J based upon any liability or obligation arising under this Warranty 
        within twelve (12) months after the cause of such action arises. <br>
        (e) Our products are designed and manufactured for use in general industrial applications. 
        They are not intended for use in nuclear power generation, aerospace, railway, vehicle, 
        entertainment machinery, safety equipment, medical equipment, or any other application 
        having a significant impact on human life or property. X&J shall not be responsible for 
        providing removal, installation, reimbursement for labor costs, working access to the 
        nonconforming equipment, including disassembly and re-assembly of non-X&J supplied equipment, 
        or for providing transportation to or from any repair facility, or for any other expenses 
        incurred in connection with the repair or replacement. <br>
        (f) The warranties and remedies stated herein constitute the buyer’s exclusive 
        remedies and X&J’s entire liability for any breach of warranty. Any and all users shall be 
        responsible for determining whether X&J's Equipment are suitable for their purposes through 
        end-user testing and/or analysis. Nothing in any document or statement, written or verbal, 
        shall be deemed to amend or waive any provision of this Agreement unless agreed upon in 
        writing by an authorized representative of X&J.
      </p>
        
    
		</div>
    
	</HeroSection>
  <TextSection narrow>
    
   
  </TextSection>
</Layout>
