---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../../layouts/Page.astro';
import HeroSection from '../../../components/sections/heros/HeroSection.astro';
import ProductHeroSection from '../../../components/sections/heros/ProductHeroSection.astro';
import SideNavBar from '../../../components/sections/heros/SideNavBar.astro';

const seo = {
	title: 'Worm Gear Reducers | X&J Products',
	description: 'Worm Gear Reducers',
};
---

<Layout {seo}>
	<div class="hero-container">
		<SideNavBar>
	
		</SideNavBar>
	
		<ProductHeroSection class="grids">  
	
		<picture slot="image-container">
		  <img
			  src="/assets/images/products/brake-motors/ba.jpg"
			  alt="X&J Products"
			  id="ba"
			/>
		  <figcaption>BA</figcaption>
		</picture>

		<picture slot="image-container">
		  <img
			  src="/assets/images/products/brake-motors/bm.jpg"
			  alt="X&J Products"
			  id="bm"
			/>
			<figcaption>BM</figcaption>
		
		</picture>

		
		

		</ProductHeroSection>
	</div>



</Layout>

<style>
	.hero-container{
	  display: flex;
	  background-color: aliceblue;
	}

	.grids{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10rem;
	}

	picture{
		width: 100%;
		height: auto;
		max-width: 400px;
		
	}

	figcaption{
		color:black;
		text-align: center;
	}

  </style>