---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../../layouts/Page.astro';
import HeroSection from '../../../components/sections/heros/HeroSection.astro';
import ProductHeroSection from '../../../components/sections/heros/ProductHeroSection.astro';
import SideNavBar from '../../../components/sections/heros/SideNavBar.astro';

const seo = {
	title: 'Precision Reducers | X&J Products',
	description: 'Precision Reducers',
};
---

<Layout {seo}>
	<div class="hero-container">
		<SideNavBar>
	
		</SideNavBar>
	
		<ProductHeroSection>  
	
		<picture slot="image-container">
		  <img
			  src="/assets/images/products/precision-reducers/planetary-reducers.jpg"
			  alt="X&J Products"
			  id="art-cover-image"
			/>
		  <figcaption>Precision Planetary Reducers</figcaption>
		  
		</picture>
		

		</ProductHeroSection>
	</div>



</Layout>

<style>
	.hero-container{
	  display: flex;
	  background-color: aliceblue;
	}

	picture{
		width: 50%;

	}

	figcaption{
		color:black;
		text-align: center;
	}
  </style>