---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | X&J Products',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About X&J Products, Inc.</h1>
			<p>
				Since the company was established, we have always followed 
        our company's policy as "Sincerity. Excellent Service. 
        Consistent Quality".
      <p/>
      <p>We offer a wide range of motor and gear reducers to serve 
        customers with our experienced distribution service 
        and perpetual business concept, We will work together with 
        our distributors to achieve win-win policy. 
      </p>
      <p>
        Over the years of efforts, we have established a high reputation 
        of the company and a symbol of quality guarantee. 
        Everything we do is to enhance rigorous quality control, 
        comprehensive before and after-sale service and offer 
        the best possible products.
      </p>
      <p>
        Based on the concept of always trying 
        for the best and constantly upgrading quality, 
        we strive hard for pursuing zero-defect on each product. 
        This will provide competitive edge in our business promotion.
      </p>
        
    
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/art-cover.jpg"
        alt="X&J Products"
        id="art-cover-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      
    </p>
   
  </TextSection>
</Layout>
