---
---


<div class="logo-group">
	<img id="xj-logo"
    src="/xj-logo-color.svg">
	



	<div class="xj-ucan">
		<p class="xj-text">
			X&J Products
		</p>
		<div class="ucan-group"
			<p>A</p>
			<img id="ucan-logo" src="/UCAN_LOGO.jpg">
			<p>Company</p>
		</div>
	</div>
</div>







<style>
	.logo-group{
		display: flex;
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    	font-size: var(--font-size-lg);
		color: inherit;
		align-items: center;
		
	}

	/* .company-name{
		margin:0;
		margin-left: -20px;
		margin-right: 20px;
		padding:10px;

	} */

	.ucan-group{
		display: flex;
		/* margin-top: -70px; */
		margin-left: 50px;
		/* font-weight: bold; */
		font-family: var(--theme-font-family-serif);
		font-size: var(--font-size-sm);
		
		
	}

	/* .logo-group:hover {
		text-decoration: underline;
		cursor: pointer;
	} */

	/* .odyssey-logo {
		display: flex;
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	} */


	#xj-logo {
	  width:200px;
	  
	}

	#ucan-logo {
	  width:70px;
	  height: 30px;
	  margin:0 18px;
	}

</style>
